<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Usuários - EV ChargeOps</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
        <h1>EV ChargeOps</h1>
        <p>Usuários cadastrados</p>
    </header>

    <main>

        <section class="tabela">

            <div class="tabela-header">
                <h2>Usuários</h2>

                <a href="{{ url_for('dashboard.dashboard') }}" class="botao">
                    ← Voltar
                </a>
            </div>

            <table>

                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Unidade</th>
                    </tr>
                </thead>

                <tbody>

                    {% for usuario in usuarios %}

                    <tr>
                        <td>#{{ usuario[0] }}</td>
                        <td>{{ usuario[1] }}</td>
                        <td>{{ usuario[2] }}</td>
                        <td>{{ usuario[3] }}</td>
                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </section>

    </main>

</body>

</html>